.spinner-container {
  width: 200px;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  gap: 20px;

  color: #000000;
  margin-inline: auto;
  margin-top: 100px;
}